<label>Time Display</label><br>
<div class="alert alert-info" role="alert">
  To change between 12 hour and 24 hour mode, use the setting on your watch,
  under Settings &rarr; Date &amp; Time.
</div>
<label class="subtle">Leading Zero</label>
<div id="time_leading_zero_setting" class="form-group" >
  <div class="btn-group btn-group-justified"  data-toggle="buttons">
    <label class="btn btn-default" data-setting="no" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face">6<br>32</div>
      No leading zero
    </label>
    <label class="btn btn-default" data-setting="yes" >
      <input type="radio" name="options" autocomplete="off">
      <div class="example_face">06<br>32</div>
      With leading zero
    </label>
  </div>
</div>
<label class="subtle">Font</label>
<div id="clock_font_setting" class="form-group" >
  <div data-toggle="buttons">
    <label class="btn btn-default" data-setting="default" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-default.png" width="56" height="66">
      Default
    </label>
    <label class="btn btn-default" data-setting="bold" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-bold.png" width="56" height="66">
      Bold
    </label>
    <label class="btn btn-default" data-setting="bold-h" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-bold-H.png" width="56" height="66">
      Bold Hour
    </label>
    <label class="btn btn-default" data-setting="bold-m" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-bold-M.png" width="56" height="66">
      Bold Minute
    </label>
    <label class="btn btn-default" data-setting="leco" >
      <input type="radio" name="options" autocomplete="off">
      <img class="example_img" src="images/font-preview-leco.png" width="56" height="66">
      LECO
    </label>
  </div>
</div>