<div id="widget_battery_settings{{postfix}}">
  <label>{% if widgetLabel != '' %}{{ widgetLabel }}{% else %}Battery Meter{% endif %}</label>
  <div id="battery_meter_setting{{postfix}}" class="form-group" >
    <label class="subtle">Style</label>
    <div class="btn-group btn-group-justified"  data-toggle="buttons">
      <label class="btn btn-default" data-setting="icon-only" >
        <input type="radio" name="options" autocomplete="off">
        <img src="images/battery_meter.png" width="30" height="30" ><br />
        Icon only
      </label>
      <label class="btn btn-default" data-setting="icon-and-percent" >
        <input type="radio" name="options" autocomplete="off">
        <img src="images/battery_meter_with_percent.png" width="30" height="30" ><br />
        Icon &amp; percent
      </label>
    </div>
  </div>
  <hr>
</div>

{% assign postfix = '' %}
{% assign widgetLabel = '' %}