<div id="widget_altclock_settings{{postfix}}">
  <label>{% if widgetLabel != '' %}{{ widgetLabel }}{% else %}Alternate Time Zone{% endif %}</label><br>
  <label class="subtle">Display Name (Max 4 letters)</label>
  <input type="text" value="ALT" class="form-control" id="altclock_name{{postfix}}" maxlength="4" placeholder='e.g. "PDT, CET, or UTC"'>
  <br>
  <label class="subtle">
    Hour Offset<br>
    <small>Relative to your local time</small>
  </label><br>
  <select id="altclock_offset_hour{{postfix}}" class="form-control">
    <option data-setting="-23">-23</option>
    <option data-setting="-22">-22</option>
    <option data-setting="-21">-21</option>
    <option data-setting="-20">-20</option>
    <option data-setting="-19">-19</option>
    <option data-setting="-18">-18</option>
    <option data-setting="-17">-17</option>
    <option data-setting="-16">-16</option>
    <option data-setting="-15">-15</option>
    <option data-setting="-14">-14</option>
    <option data-setting="-13">-13</option>
    <option data-setting="-12">-12</option>
    <option data-setting="-11">-11</option>
    <option data-setting="-10">-10</option>
    <option data-setting="-9">-9</option>
    <option data-setting="-8">-8</option>
    <option data-setting="-7">-7</option>
    <option data-setting="-6">-6</option>
    <option data-setting="-5">-5</option>
    <option data-setting="-4">-4</option>
    <option data-setting="-3">-3</option>
    <option data-setting="-2">-2</option>
    <option data-setting="-1">-1</option>
    <option data-setting="0">0</option>
    <option data-setting="+1">+1</option>
    <option data-setting="+2">+2</option>
    <option data-setting="+3">+3</option>
    <option data-setting="+4">+4</option>
    <option data-setting="+5">+5</option>
    <option data-setting="+6">+6</option>
    <option data-setting="+7">+7</option>
    <option data-setting="+8">+8</option>
    <option data-setting="+9">+9</option>
    <option data-setting="+10">+10</option>
    <option data-setting="+11">+11</option>
    <option data-setting="+12">+12</option>
    <option data-setting="+13">+13</option>
    <option data-setting="+14">+14</option>
    <option data-setting="+15">+15</option>
    <option data-setting="+16">+16</option>
    <option data-setting="+17">+17</option>
    <option data-setting="+18">+18</option>
    <option data-setting="+19">+19</option>
    <option data-setting="+20">+20</option>
    <option data-setting="+21">+21</option>
    <option data-setting="+22">+22</option>
    <option data-setting="+23">+23</option>
  </select>
  <hr>
</div>
{% assign postfix = '' %}
{% assign widgetLabel = '' %}